.container{
  width: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

button{
  display: block;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 1.1em;
}

.food{
  display: inline-block;
  background: rgba(255, 0, 0, 0.2);
  color: #FF0000CC;
  border: 0;
}

.electronics{
  display: inline-block;
  background: rgba(1, 184, 227, 0.2);
  color: #01B8E3;
  border: 0;
}

.auto{
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  border: 0;
}

.medicine{
  display: inline-block;
  background: rgba(55, 223, 52, 0.2);
  color: #37DF34;
  border: 0;
}

.gas{
  display: inline-block;
  background: rgb(101, 100, 219, 0.2);
  color: #6564DB;
  border: 0;
}

.next{
  border: 3px solid #6564DB;
  border-radius: 30px;
  color: #6564DB;
  margin: 30px 0 0 10px;
  padding: 3px 25px 3px 25px;
}
