.container.main {
	margin-top: 30px;
}

.col-lg-4, .col-sm-12{
	margin-top: 20px;
	padding: 10px;
}

.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}