body{
	background: #F9F9F9;
	font-family: 'Fira Sans', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.back{
	margin-left: 10px;
	font-size: 20px;
	color: gray;
}

.back_btn{
	color: gray;
}

.menu_elements{
	margin: 0 10px 0 10px;
}

.menu_element{
	margin: 0 10px 0 10px;
	font-size: 16px;
	color: gray;
}

@media screen and (max-width: 400px){
	.back{
		font-size: 16px;
	}
	.menu_element{
		font-size: 12px;
	}
}