.login {
  &.container {
    text-align: center;
  }

  input {
    width: 300px;
    border-radius: 30px;
    border: 3px solid #6564DB;
    height: 40px;
    padding: 5px 40px;
  }

  svg {
    display: inline-block;
    position: relative;
    bottom: 2px;
    right: 285px;
    color: gray;
    cursor: pointer;
  }

  @media screen and (max-width: 492px) {
    .container {
      width: 90%;
    }
    textarea {
      width: 250px;
    }
    ion-icon {
      bottom: 10px;
      right: 235px;
    }
  }
}